@using GarlicPress.constants;
@using GarlicPress.forms;
@inject IJSRuntime JsRuntime
@inject EditMediaLayersForm editMediaLayersForm
@implements IDisposable

<style>
    label {
        font-family: 'GarlicFont';
    }

</style>

<div class="grid grid-cols-3 gap-2 bg-gray-800 h-screen p-2">
    <div>
        <label for="drive" class="block text-lg font-medium text-white"><b>Drive</b></label>
        <select id="drive" @bind="SelectedDriveValue" @bind:after="(() => SelectedDrive = GarlicDrive.GetGarlicDrives().FirstOrDefault(x => x.name == SelectedDriveValue))"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
            @foreach (var drive in GarlicDrive.GetGarlicDrives())
            {
                <option value="@drive.name">@drive.name</option>
            }
        </select>
    </div>
    <div>
        <label for="System" class="block text-lg font-medium text-white"><b>System</b></label>
        <select id="System" @bind="SelectedSystemValue" @bind:after="(() => { SelectedSystem = GarlicSystem.GetAllSystems().FirstOrDefault(x => x.name == SelectedSystemValue); UpdateGames();})"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
            @foreach (var system in GarlicSystem.GetAllSystems())
            {
                <option value="@system.name">@system.name</option>
            }
        </select>
    </div>
    <div>
        <label for="Game" class="block text-lg font-medium text-white"><b>Game</b></label>
        @if (Games.Any())
        {
            <select id="Game" @bind="SelectedGame" @bind:after="(async () => { await UpdateGameArt(); })"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                @foreach (var game in Games)
                {
                    <option value="@game">@game</option>
                }
            </select>
        }
        else
        {
            <input id="Game" type="text" @bind="SelectedGame" @bind:after="(async () => { await UpdateGameArt(); })"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
        }
    </div>

    <div class="col-span-2 flex justify-center items-center">
        <canvas width="640" height="480" id="@canvasId"></canvas>
    </div>
    <div class="col-span-1 overflow-scroll overflow-x-hidden">
        @* Get game media *@
        <button class="px-5 py-2.5 text-center bg-blue-500 hover:bg-blue-300 rounded m-2 py-2 text-white" @onclick="GetAllGameMedia"><b>Get Game Art</b></button>
        @foreach (var gameMedia in GameMedias)
        {
            <div>
                <img src="@gameMedia.imagePath" @onclick="(async () => await UpdateCanvas(gameMedia.imagePath, gameMedia.mediaType))" />
            </div>
        }
    </div>
    <div class="col-span-1">
        <button class="px-5 py-2.5 text-center bg-blue-500 hover:bg-blue-300 rounded m-2 py-2 text-white" @onclick="() => { GameMediaGeneration.SaveMediaLayoutJson(); editMediaLayersForm.Close(); }"><b>Save</b></button>
    </div>
</div>

@code {
    string canvasId = $"canvas-{Guid.NewGuid()}";
    IJSObjectReference? module;
    DotNetObjectReference<MediaGenerationEditor>? objRef;

    bool ArtUpdateRunning;

    string SelectedImgPath { get { return SelectedDrive?.path + "/Roms/" + SelectedSystem?.folder + "/Imgs/"; } }
    string SelectedRomPath { get { return SelectedDrive?.romPath + "/" + SelectedSystem?.folder; } }
    GarlicDrive? SelectedDrive { get; set; }
    string? SelectedDriveValue { get; set; }
    GarlicSystem? SelectedSystem { get; set; }
    string? SelectedSystemValue { get; set; }

    List<string> Games = new();
    string SelectedGame = "";

    List<(string mediaType, string imagePath)> GameMedias = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./components/MediaGenerationEditor.razor.js");
            await module.InvokeVoidAsync("BlazorFabric.createCanvas", canvasId, objRef);
            await module.InvokeVoidAsync("BlazorFabric.setupImageLocationUpdatedCallback");
        }
    }

    struct imageDetails
    {
        public Guid id { get; set; }
        public int left { get; set; }
        public int top { get; set; }
        public int angle { get; set; }
        public int scale { get; set; }
    }

    [JSInvokable]
    public void NotifyImageLocationUpdated(string imageDetails)
    {
        var details = JsonSerializer.Deserialize<imageDetails>(imageDetails);

        if (GameMediaGeneration.MediaLayers.FirstOrDefault(x => x.id == details.id) is MediaLayer layer)
        {
            layer.x = details.left;
            layer.y = details.top;
            layer.resizePercent = details.scale;
            layer.angle = details.angle;
        }
        StateHasChanged();
    }

    [JSInvokable]
    public void NotifyImageDeleted(string id)
    {
        GameMediaGeneration.RemoveMediaLayer(Guid.Parse(id));
    }


    void UpdateGames()
    {
        if (ADBConnection.deviceConnected)
        {
            var list = ADBConnection.GetDirectoryListing(SelectedRomPath);
            Games = list.Where(w => w.Path != "." && w.Path != ".." && w.Path != "Imgs").OrderBy(o => o.Path).Select(x => x.Path).ToList();
        }
    }

    async Task UpdateGameArt()
    {
        if (!ArtUpdateRunning && SelectedSystem is not null && module is not null)
        {
            ArtUpdateRunning = true;
            GameMedias.Clear();
            await module.InvokeVoidAsync("BlazorFabric.clearCanvas");
            await module.InvokeVoidAsync("BlazorFabric.addBackgroundImage", PathConstants.assetSkinPath.Replace("wwwroot/", "") + "background.png");

            await AddText();

            GameResponse game = await ScreenScraper.GetGameData(SelectedSystem, SelectedGame, SearchType.GameName);
            if (game is not null && game.status != "error")
            {
                await foreach (var gameMedia in GameMediaGeneration.GetGameMedia(game))
                {
                    await UpdateCanvas(gameMedia.imagePath?.Replace("wwwroot/", ""), gameMedia.layer);
                }
            }
            else if (game != null)
            {
                MessageBox.Show("Game not Found : " + game.statusMessage, "warn");
            }
            else
            {
                MessageBox.Show("Error : null GameResponse! " + SelectedGame ?? "", "error");
            }

            ArtUpdateRunning = false;
        }
    }

    async void GetAllGameMedia()
    {
        if (!ArtUpdateRunning && SelectedSystem is not null && module is not null)
        {
            ArtUpdateRunning = true;
            GameMedias.Clear();
            GameResponse game = await ScreenScraper.GetGameData(SelectedSystem, SelectedGame, SearchType.GameName);
            if (game is not null && game.status != "error")
            {
                await foreach (var gameMedia in GameMediaGeneration.GetAllGameMedia(game))
                {
                    if (gameMedia.imagePath is not null && module is not null)
                    {
                        GameMedias.Add((gameMedia.mediaType, gameMedia.imagePath.Replace("wwwroot/", "")));
                    }
                    await this.InvokeAsync(() => StateHasChanged());
                }
            }

            ArtUpdateRunning = false;
        }
    }

    async Task AddText()
    {
        if (module is not null)
        {
            if (Games.Any())
            {
                var indexof = Games.IndexOf(SelectedGame);
                await module.InvokeVoidAsync("BlazorFabric.addText", String.Join("\n", GetSurroundingStrings(Games, indexof)), GarlicSkin.skinSettings.textmargin, 90, GarlicSkin.skinSettings.colorguide, "red", "GarlicFont", GarlicSkin.languageSettingsDictonary.First().Value.fontsize, GarlicSkin.skinSettings.textalignment);
            }
            else
            {
                await module.InvokeVoidAsync("BlazorFabric.addText", String.Join("\n", Enumerable.Repeat(SelectedGame, 8)), 340, 90, "white", "red", "GarlicFont");
            }
        }
    }

    public static List<string> GetSurroundingStrings(List<string> source, int index)
    {
        int start = Math.Max(0, index - 4); // Ensure we don't go below 0
        int count = 8;

        // If we're near the start of the list, adjust count to get more elements after index
        if (start < index - 4)
        {
            count += (index - 4) - start;
        }

        // If we're near the end of the list, adjust count to stay within bounds
        if (start + count > source.Count)
        {
            count = source.Count - start;
        }

        return source.Skip(start).Take(count).ToList();
    }


    async Task UpdateCanvas(string? imagePath, MediaLayer layer)
    {
        if (imagePath is not null && module is not null)
        {
            await module.InvokeVoidAsync("BlazorFabric.addImage", imagePath, layer.id, layer.x, layer.y, layer.resizePercent / 100, layer.angle);
        }
    }

    async Task UpdateCanvas(string? imagePath, string mediaType)
    {
        if (imagePath is not null && module is not null)
        {
            var layer = new MediaLayer { mediaType = mediaType, order = GameMediaGeneration.MediaLayers.Count };
            GameMediaGeneration.AddMediaLayer(layer);
            await module.InvokeVoidAsync("BlazorFabric.addImage", imagePath, layer.id, layer.x, layer.y, layer.resizePercent / 100);
        }
    }

    string BitmapToBase64(Bitmap bitmap)
    {
        using (MemoryStream memoryStream = new MemoryStream())
        {
            // Convert Bitmap to byte[]
            bitmap.Save(memoryStream, System.Drawing.Imaging.ImageFormat.Png);
            byte[] bitmapBytes = memoryStream.ToArray();

            // Convert byte[] to Base64 String
            string base64String = Convert.ToBase64String(bitmapBytes);

            return base64String;
        }
    }

    public void Dispose()
    {
        module?.DisposeAsync();
        objRef?.Dispose();
    }
}
