@using GarlicPress.classes.bitmapClasses;
@using GarlicPress.components.shared;
@using GarlicPress.constants;
@using GarlicPress.forms;
@using static GarlicPress.MediaLayer;
@using static GarlicPress.components.shared.FabricCanvas<MediaLayer>;
@inject EditMediaLayersForm editMediaLayersForm

<style>
    label {
        font-family: 'GarlicFont';
    }

    input {
        font-family: 'GarlicFont';
    }

    button {
        font-family: 'GarlicFont';
    }

    select {
        font-family: 'GarlicFont';
    }

</style>

<div class="h-screen flex flex-col p-1">
    <div class="grid grid-cols-4 gap-2">
        <div>
            <label for="mediaLayerCollection" class="block text-lg font-medium text-white mb-2">
                <b>Media Layer Collection</b>
            </label>
            <select id="mediaLayerCollection" @bind="_selectedMediaLayerCollectionId"
            @bind:after="(async () => await UpdateGameArt())"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                @foreach (var mediaLayerCollection in GameMediaGeneration.GetMediaLayerCollections().ToList())
                {
                    <option value="@mediaLayerCollection.id">@mediaLayerCollection.name</option>
                }
            </select>
        </div>
        <button @onclick="() => addModal?.Open()"
                class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-400 focus:outline-none focus:bg-blue-700">
            Add Media Layer Collection
        </button>
        <button @onclick="() => editModal?.Open()"
                class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-400 focus:outline-none focus:bg-green-700">
            Edit Media Layer Collection Name
        </button>
        <button @onclick="() => deleteModal?.Open()"
                class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-400 focus:outline-none focus:bg-red-700">
            Delete Media Layer Collection
        </button>

        <ModalComponent @ref="addModal">
            <AddMediaLayoutCollectionModal OnNewLayerAdded="(x => { var newMediaLayerCollection = GameMediaGeneration.AddMediaLayerCollection(x.name, x.templateid); _selectedMediaLayerCollectionId = newMediaLayerCollection.id; addModal?.Close(); })"></AddMediaLayoutCollectionModal>
        </ModalComponent>

        @if (_selectedMediaLayerCollection is not null)
        {
            <ModalComponent @ref="deleteModal">
                <DeleteConfirmationModal OnConfirmDelete="() => { GameMediaGeneration.RemoveMediaLayerCollection(_selectedMediaLayerCollectionId); deleteModal?.Close(); }" OnCloseModal="() => deleteModal?.Close()"></DeleteConfirmationModal>
            </ModalComponent>

            <ModalComponent @ref="editModal">
                <EditMediaLayoutCollectionModal CurrentName="@_selectedMediaLayerCollection.name" OnNameChanged="(name) => { if (_selectedMediaLayerCollection is not null) { _selectedMediaLayerCollection.name = name; } editModal?.Close(); }"></EditMediaLayoutCollectionModal>
            </ModalComponent>
        }

    </div>
    <div class="grid grid-cols-3 gap-2">
        <div>
            <label for="drive" class="block text-lg font-medium text-white">
                <b>Drive</b>
            </label>
            <select id="drive" @bind="_selectedDriveValue" @bind:after="(() => _selectedDrive = GarlicDrive.GetGarlicDrives().FirstOrDefault(x => x.name == _selectedDriveValue))"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                @foreach (var drive in GarlicDrive.GetGarlicDrives())
                {
                    <option value="@drive.name">@drive.name</option>
                }
            </select>
        </div>
        <div>
            <label for="System" class="block text-lg font-medium text-white">
                <b>System</b>
            </label>
            <select id="System" @bind="_selectedSystemValue" @bind:after="(() => { _selectedSystem = GarlicSystem.GetAllSystems().FirstOrDefault(x => x.name == _selectedSystemValue); UpdateGames();})"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                @foreach (var system in GarlicSystem.GetAllSystems())
                {
                    <option value="@system.name">@system.name</option>
                }
            </select>
        </div>
        <div>
            <label for="Game" class="block text-lg font-medium text-white">
                <b>Game</b>
            </label>
            @if (_games.Any())
            {
                <select id="Game" @bind="_selectedGame" @bind:after="(async () => { await UpdateGameArt(); })"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    @foreach (var game in _games)
                    {
                        <option value="@game">@game</option>
                    }
                </select>
            }
            else
            {
                <input id="Game" type="text" @bind="_selectedGame" @bind:after="(async () => { await UpdateGameArt(); })"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2" />
            }
        </div>
    </div>

    <div class="grid grid-cols-3 overflow-auto gap-2 p-2">
        <div class="col-span-2 flex justify-center items-center h-[50vh]">
            <FabricCanvas TItem="MediaLayer" width="640" height="480" @ref="_fabricCanvas" MediaUpdated="OnMediaUpdated" MediaDeleted="OnMediaDeleted" MediaSelected="OnMediaSelected" MediaUnselected="OnMediaUnselected" />
        </div>

        <div class="flex-initial border rounded-lg border-white overflow-auto scrollbar p-2 h-[50vh]">
            <MediaLayerControl IsImageSelected="_imageSelected" OnApplyFilters="async () => await UpdateImage(_selectedMediaLayer, true)" mediaLayer="_selectedMediaLayer" mediaLayerChanged="async () => await UpdateImage(_selectedMediaLayer)" />
        </div>
    </div>

    <div class="grid grid-cols-3 overflow-auto gap-2 p-2 max-h-[30vh] flex-grow ">
        <div class="col-span-3 overflow-auto grid grid-cols-4">
            <div class="col-span-3 border rounded-lg p-2 scrollbar min-h-0 h-full border-white">

                <button class="px-5 py-2.5 text-center bg-blue-500 hover:bg-blue-300 rounded text-white" @onclick="GetAllGameMedia">
                    <b>Get Game Art</b>
                </button>

                <div class="p-2 flex flex-wrap overflow-auto scrollbar max-h-[80%]">
                    @foreach (var gameMedia in _gameMedias)
                    {
                        <div class="p-2">
                            <img class="max-h-40 m-1" src="@gameMedia.imagePath" @onclick="(async () => await AddNewMediaLayerImageToCanvas(gameMedia.imagePath, gameMedia.mediaType))" />
                        </div>
                    }
                    @if (_artUpdateRunning)
                    {
                        <div class="grid place-content-center p-2">
                            <div class="flex items-center gap-2 text-white">
                                <span class="h-10 w-10 block rounded-full border-4 border-t-green-600 animate-spin"></span>
                                loading...
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-span-1 grid">

                <button class="px-5 py-2.5 text-center bg-blue-500 hover:bg-blue-300 rounded m-2 py-2 text-white disabled:bg-gray-400 disabled:hover:bg:bg-gray-400 disabled:cursor-not-allowed"
                @onclick="(async () => { await UpdateGameArt(); })" disabled="@_artUpdateRunning">
                    <b>@(_artUpdateRunning ? "Updating..." : "Update")</b>
                </button>
                <button class="px-5 py-2.5 text-center bg-blue-500 hover:bg-blue-300 rounded m-2 py-2 text-white disabled:bg-gray-400 disabled:hover:bg:bg-gray-400 disabled:cursor-not-allowed"
                @onclick="SaveMediaLayoutCollection" disabled="@_saving">
                    <b>@(_saving ? "Saving..." : "Save")</b>
                </button>

                <button class="px-5 py-2.5 text-center bg-gray-500 hover:bg-gray-300 rounded m-2 py-2 text-white"
                @onclick="() => { editMediaLayersForm.Close(); }">
                    <b>Close</b>
                </button>

            </div>
        </div>
    </div>
</div>

@code {
    FabricCanvas<MediaLayer>? _fabricCanvas;

    Guid? _selectedMediaLayerCollectionId { get; set; }
    MediaLayerCollection? _selectedMediaLayerCollection { get { return GameMediaGeneration.GetMediaLayerCollections().FirstOrDefault(x => x.id == _selectedMediaLayerCollectionId); } }

    List<IFilter> _filters = new();
    bool _imageSelected = false;
    MediaLayer? _selectedMediaLayer;

    bool _artUpdateRunning;

    string _selectedImgPath { get { return _selectedDrive?.path + "/Roms/" + _selectedSystem?.folder + "/Imgs/"; } }
    string _selectedRomPath { get { return _selectedDrive?.romPath + "/" + _selectedSystem?.folder; } }
    GarlicDrive? _selectedDrive { get; set; }
    string? _selectedDriveValue { get; set; }
    GarlicSystem? _selectedSystem { get; set; }
    string? _selectedSystemValue { get; set; }

    List<string> _games = new();
    string _selectedGame = "";

    List<(string mediaType, string imagePath)> _gameMedias = new();
    GameResponse? _game;

    ModalComponent? addModal;
    ModalComponent? deleteModal;
    ModalComponent? editModal;

    bool _saving = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _selectedDrive = GarlicDrive.GetGarlicDrives().First();
            _selectedSystem = GarlicSystem.GetAllSystems().First();
            _selectedMediaLayerCollectionId = GameMediaGeneration.GetMediaLayerCollections().FirstOrDefault()?.id;
            StateHasChanged();
        }
    }

    async void SaveMediaLayoutCollection()
    {
        _saving = true;
        _ = Task.Yield();
        GameMediaGeneration.SaveMediaLayoutJson();
        await Task.Delay(1000);
        _saving = false;
        StateHasChanged();
    }

    private void OnMediaUpdated(FabricCanvas<MediaLayer>.imageDetails details)
    {
        if (_selectedMediaLayerCollection?.mediaLayers.FirstOrDefault(x => x.id == Guid.Parse(details.id)) is MediaLayer layer)
        {
            layer.x = details.left;
            layer.y = details.top;
            layer.resizePercent = details.scale;
            layer.angle = details.angle;
            layer.order = details.drawOrder;

            _selectedMediaLayer = layer;
        }
        StateHasChanged();
    }

    private void OnMediaDeleted(Guid id)
    {
        if (_selectedMediaLayerCollection is not null)
        {
            GameMediaGeneration.RemoveMediaLayer(id, _selectedMediaLayerCollection);
        }
    }

    void OnMediaSelected(FabricCanvas<MediaLayer>.imageDetails details)
    {
        if (_selectedMediaLayerCollection?.mediaLayers.FirstOrDefault(x => x.id == Guid.Parse(details.id)) is MediaLayer layer)
        {
            layer.x = details.left;
            layer.y = details.top;
            layer.resizePercent = details.scale;
            layer.angle = details.angle;
            layer.order = details.drawOrder;

            _selectedMediaLayer = layer;
            _imageSelected = true;
        }
    }

    void OnMediaUnselected()
    {
        _imageSelected = false;
    }

    void UpdateGames()
    {
        if (ADBConnection.deviceConnected)
        {
            var list = ADBConnection.GetDirectoryListing(_selectedRomPath);
            _games = list.Where(w => w.Path != "." && w.Path != ".." && w.Path != "Imgs").OrderBy(o => o.Path).Select(x => x.Path).ToList();
        }
    }

    async Task UpdateGameArt()
    {
        if (!_artUpdateRunning
            && _selectedSystem is not null
            && _fabricCanvas is not null
            && !String.IsNullOrWhiteSpace(_selectedGame))
        {
            _artUpdateRunning = true;
            _gameMedias.Clear();
            await _fabricCanvas.ClearCanvas();
            await _fabricCanvas.AddBackgroundImage(PathConstants.assetSkinPath.Replace("wwwroot/", "") + "background.png");

            await AddText();

            _game = await ScreenScraper.GetGameData(_selectedSystem, _selectedGame, SearchType.GameName);
            if (_game is not null
                && _game.status != "error"
                && _selectedMediaLayerCollection is not null)
            {
                await foreach (var gameMedia in GameMediaGeneration.GetGameMedia(_game, _selectedMediaLayerCollection))
                {
                    if (gameMedia.media is GameMediaResponse media)
                    {
                        var mediaPath = media.path.Replace("wwwroot/", "");
                        await AddImageToCanvas(mediaPath, gameMedia.layer);
                    }
                }
            }
            else if (_game != null)
            {
                MessageBox.Show("Game not Found : " + _game.statusMessage, "warn");
            }
            else
            {
                MessageBox.Show("Error : null GameResponse! " + _selectedGame ?? "", "error");
            }

            _artUpdateRunning = false;
        }
    }

    async void GetAllGameMedia()
    {
        if (!_artUpdateRunning && _selectedSystem is not null)
        {
            _artUpdateRunning = true;
            _gameMedias.Clear();
            _game ??= await ScreenScraper.GetGameData(_selectedSystem, _selectedGame, SearchType.GameName);
            if (_game is not null && _game.status != "error")
            {
                await foreach (var gameMedia in GameMediaGeneration.GetAllGameMedia(_game))
                {
                    if (gameMedia.media is GameMediaResponse media)
                    {
                        _gameMedias.Add((gameMedia.mediaType, media.path.Replace("wwwroot/", "")));
                    }
                    await this.InvokeAsync(() => StateHasChanged());
                }
            }

            _artUpdateRunning = false;
            StateHasChanged();
        }
    }

    async Task AddText()
    {
        if (_fabricCanvas is not null)
        {
            if (_games.Any() && GarlicSkin.skinSettings is not null && GarlicSkin.languageFiles is not null)
            {
                var indexof = _games.IndexOf(_selectedGame);
                await _fabricCanvas.AddText(String.Join("\n", GetSurroundingStrings(_games, indexof)), GarlicSkin.skinSettings.textmargin, 90, GarlicSkin.skinSettings.colorguide, "GarlicFont", GarlicSkin.languageFiles.First().garlicLanguageSettings.fontsize, GarlicSkin.skinSettings.textalignment);
            }
            else
            {
                await _fabricCanvas.AddText(String.Join("\n", Enumerable.Repeat(_selectedGame, 8)), 340, 90, "white", "GarlicFont");
            }
        }
    }

    public static List<string> GetSurroundingStrings(List<string> source, int index)
    {
        int start = Math.Max(0, index - 4); // Ensure we don't go below 0
        int count = 8;

        // If we're near the start of the list, adjust count to get more elements after index
        if (start < index - 4)
        {
            count += (index - 4) - start;
        }

        // If we're near the end of the list, adjust count to stay within bounds
        if (start + count > source.Count)
        {
            count = source.Count - start;
        }

        return source.Skip(start).Take(count).ToList();
    }

    private async Task UpdateImage(MediaLayer? layer, bool updateImage = false)
    {
        if (layer is not null && _fabricCanvas is not null && _game is not null)
        {
            if (updateImage)
            {
                var gameMedia = await GameMediaGeneration.GetMediaFromMediaLayer(_game, layer);
                if (gameMedia.media is GameMediaResponse media)
                {
                    await _fabricCanvas.UpdateImage(layer.id, layer, media.path.Replace("wwwroot/", ""));
                }
            }
            else
            {
                await _fabricCanvas.UpdateImage(layer.id, layer);
            }
        }
    }

    async Task AddImageToCanvas(string? imagePath, MediaLayer layer)
    {
        if (imagePath is not null && _fabricCanvas is not null)
        {
            await _fabricCanvas.AddImage(imagePath, layer.id, layer);
        }
    }

    async Task AddNewMediaLayerImageToCanvas(string? imagePath, string mediaType)
    {
        if (imagePath is not null
            && _fabricCanvas is not null
            && _selectedMediaLayerCollection is not null)
        {
            var layer = new MediaLayer { mediaType = mediaType, order = _selectedMediaLayerCollection.mediaLayers.Count + 1 };
            GameMediaGeneration.AddMediaLayer(layer, _selectedMediaLayerCollection);
            await _fabricCanvas.AddImage(imagePath, layer.id, layer);
        }
    }
}
